.row.sgvm-valley-background {
  background: $beige center no-repeat url("../../assets/images/home-valley-background.jpg");
}
.sgvm-world-citizen-banner {
  display: block;
  margin: 50px auto;
  max-width: 100%;
}
.sgvm-home-link-photo {
  margin: 20px 0;
  width: 100%;
}
