<footer class="container-fluid sgvm-footer" ng-controller="FooterCtrl">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">

            <ul class="nav navbar-nav sgvm-footer-nav" role="menu">
              <li ng-repeat="item in menu" class="footer-top-nav-item">

                <a ui-sref="{{item.link}}">{{item.title}}</a>

                <span ng-if="item.subnav">
                  <ul role="menu">
                    <li ng-repeat="subitem in item.subnav" class="footer-subnav-item">
                      <a ui-sref="{{subitem.link}}">{{subitem.title}}</a>
                    </li>
                  </ul>
                </span>

              </li>
            </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p class="pull-right sgvm-copyright">&copy;{{year}} Lagunitas School Public Montessori</p>
      </div>
    </div>

  </div>
</footer>